<div id="container">
  <section class="free-section text-center py-12 sm:py-16 md:py-24 bg-bg-white">
    <div class="container">
      <div
        class="bg-teal text-bg-white p-8 sm:p-10 md:p-12 rounded-3xl shadow-card max-w-4xl mx-auto"
      >
        <h2 class="text-4xl sm:text-5xl md:text-6xl font-bold">It's Free</h2>
        <div
          class="flex flex-col sm:flex-row justify-around mt-6 sm:mt-8 text-xl sm:text-xl md:text-2xl font-medium space-y-4 sm:space-y-0 sm:space-x-4 md:space-x-8"
        >
          <span>NO onboarding fees</span>
          <span>NO application fees</span>
          <span>NO recurring fees</span>
        </div>
      </div>
    </div>
  </section>
</div>
